body {
    padding: 10px;
    font-family: 'Lexend', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Tilt Neon', cursive;
}

h1 {
    text-align: center;
    margin: 15px;
    font-size: 70px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}


#list-index {
    background-color: rgb(231, 225, 225);
}

#nav_bar {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(45,45,45);
}

.list-group-item-action {
    background-color: rgb(231, 225, 225);
}

.list-group-item-action:hover {
    background-color: rgb(141, 141, 141);
}


.nav-link {
    color: white;
    margin: 15px;
    border: 0px;
    border-radius: 15px;

}

.nav-link:hover {
    background-color: rgb(60,60,60);
    color: azure;
}

#sign {
    text-align: end;
    margin: 10px;
}

.material-symbols-outlined {
    color: red;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 4;
    margin-left: 8px;
}

.material-symbols-outlined:hover {
    border-radius: 50%;
    
}

#icon {
    display: flex;
    align-items: center;
}

#btn-heart {
    color: black;
    width: 30px;
}

#btn-submit {
    background: none;
    border: none;
}