{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create new auction</h2>
    <div>
        <form id="create" action="{% url 'create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <input class="form-control" type="text" name="title" placeholder="Title" required id="create">
            </div>
            <div class="mb-3">
                <textarea class="form-control" name="description" id="description" cols="30" rows="10" placeholder="Description"></textarea>
            </div>
            {% if message %}
                <div class="alert alert-warning">{{message }}</div>
            {% endif %}
            <div class="mb-3">
                <input class="form-control form-control-sm" type="text" name="bid" placeholder="Starting bid" step=0.01 required id="create">
            </div class="mb-3">
            <input type="file" name="image" id="image" placeholder="Upload an image">
            <label for="category">Category</label>
            <select name="category" id="category">
                {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
            <input class="btn btn-primary" type="submit" value="Create">
        </form>
    </div>
{% endblock %}