{% extends "auctions/layout.html" %}

{% block body %}
    <h1>CREATE PAGE</h1>
    <h1>{{ user }}</h1>
    <div>
        <form action="{% url 'create' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input class="form-control" type="text" name="title" placeholder="Title">
            </div>
            <div class="mb-3">
                <textarea class="form-control" name="description" id="description" cols="30" rows="10" placeholder="Description"></textarea>
            </div>
            <div class="mb-3">
                <input class="form-control form-control-sm" type="number" name="bid" placeholder="Starting bid" step=0.01>
            </div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Create">
        </form>
    </div>
{% endblock %}