{% extends 'auctions/layout.html' %}

{% block body %}
<fieldset>
    <legend><h1>{{ auction.title }}</h1></legend>
    <div>
        <p>Description: {{ auction.description }}</p>
    </div>
    {% if messages %}
        {% for message in messages %}
            {% if message.tag == 'success' %}
                <div class="alert alert-success">{{ message }}</div>
            {% elif message.tag == 'error' %}
                <div class="alert alert-error">{{ message }}</div>
            {% else %}
                <div class="alert">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <h2>Current price: {{ price }}</h2>
    <h2>Starting bid: {{ start_bid }}</h2>
    {% if auction.image %}
        <img src="{{ auction.image.url }}" alt="{{ auction.title }}">
    {% endif %}
    {% if auction.category %}
        <p>Category: {{ auction.category }}</p>
    {% else %}
        <p>Category: no category listed</p>
    {% endif %}
        <p>Created: {{ auction.date }}</p>
    <ul>
        {% if comments %}
            {% for comment in comments %}
            <li>{{ comment.user_id }}: {{ comment.comment }}</li>
            {% endfor %}
        {% endif %}
    </ul>
</fieldset>
<h1>Bids on this item</h1>
{% if message %}
    <p>{{ message }}</p>
{% endif %}
<form action="{% url 'detail' auction.id %}" method="post">
    {% csrf_token %}
    {% if auction.owner.id == request.user.id  %}
        {% if auction.active == True %}
            <p>CLOSE THE AUCTION</p>
            <input type="submit" name="close" id="close">
        {% endif %}
    {% else %}
        <form action="{% url 'detail' auction.id %}">
            <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Add a comment"></textarea>
            <input type="submit" value="Submit comment">
        </form>
        <form action="{% url 'detail' auction.id %}">
            <input type="number" name="amount" placeholder="Bid on this item" step="0.01" required>
            <input type="submit" value="Submit bid">
        </form>
        
</form>
{% if message_watchlist %}
    <p>{{ message_watchlist }}</p>
{% endif %}
<form action="{% url 'detail' auction.id %}" method="post">
    {% csrf_token %}
    <button title="Add/remove to watchlist" type="submit" value="Add to a watchlist" name="add/remove" id="add/remove">Add/remove from watchlist</button>
    <input type="hidden" name="auction_id" id="auction_id" value="{{ auction.id }}">
</form>
{% endif %}
{% endblock %}
