{% extends 'auctions/layout.html' %}

{% block body %}
<fieldset>
    <legend><h1>{{ auction.title }}</h1></legend>
    <div>
        <p>Description: {{ auction.description }}</p>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <h2>Current price: {{ price }}</h2>
    <h2>Starting bid: {{ start_bid }}</h2>
    {% if auction.image %}
        <img src="{{ auction.image.url }}" alt="{{ auction.title }}">
    {% endif %}
    {% if auction.category %}
        <p>Category: {{ auction.category }}</p>
    {% else %}
        <p>Category: no category listed</p>
    {% endif %}
    <ul>
        {% if comments %}
            {% for comment in comments %}
            <li>{{ comment.user_id }}: {{ comment.comment }}</li>
            {% endfor %}
        {% endif %}
    </ul>
</fieldset>
<h1>Bids on this item</h1>
{% if message %}
    <p>{{ message }}</p>
{% endif %}
<form action="{% url 'detail' auction.id %}" method="post">
    {% csrf_token %}
    {% if auction.owner.id == request.user.id  %}
        <p>CLOSE THE AUCTION</p>
        <input type="submit" name="close" id="close">
    {% else %}
        <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Add a comment"></textarea>
        <input type="number" name="amount" placeholder="Bid on this item" step="0.01">
        <input type="submit">
</form>
<form action="{% url 'watchlist' %}" method="post">
    {% csrf_token %}
    <button type="submit" value="Add to a watchlist" name="add/remove" id="btn-submit">
    <input type="hidden" name="auction_id" id="auction_id" value="{{ auction.id }}">
    <span  id="btn-heart" class="material-symbols-outlined">favorite</span>
    </button>
</form>
{% endif %}
{% endblock %}
