{% extends 'auctions/layout.html' %}

{% block body %}
<div class="container my-3">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success text-center">{{ message }}</div>
            {% elif message.tags == 'error' %}
                <p class="alert alert-warning text-center">{{ message }}</p>
            {% else %}
                <p class="alert alert-primary text-center">{{ message }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if message_watchlist %}
        <p class="alert alert-success text-center">{{ message_watchlist }}</p>
    {% endif %}
</div>

    <div class="container border">
        <div class="row">
            
            <div class="col-8">
                {% if auction.image %}
                    <img src="{{ auction.image.url }}" alt="{{ auction.title }}" width="600px">
                {% else %}
                    <img src="/media/auctions_images/default-placeholder.png" alt="image placeholder" width="600px">
                {% endif %}
            </div>

            <div class="col p-4 d-flex flex-column align-items-start">
                <h2 class="p-2">{{ auction.title }}</h2>  
                <p class="p-2">Starting bid: {{ start_bid }}</p>
                <p class="p-2">Current price: {{ price }}</p>
                <p class="p-2"> {{ auction.description }}</p>
                <div class="container d-flex flex-column align-items-center p-2">
                    {% if auction.owner.id == request.user.id  %}
                    <form action="{% url 'detail' auction.id %}" method="post">
                        {% csrf_token %}
                            {% if auction.active == True %}
                                <p>CLOSE THE AUCTION</p>
                                <input type="submit" name="close" id="close">
                            {% endif %}
                    </form>
                    {% else %}
                    <form action="{% url 'detail' auction.id %}" method="post">
                            {% csrf_token %}
                            <input class="m-2" type="number" name="amount" placeholder="Bid on this item" step="0.01" required>
                            <input class="btn btn-primary m-2" type="submit" value="Submit bid">
                    </form>

                    <form action="{% url 'detail' auction.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-light mt-4 p-2" title="Add/remove to watchlist" type="submit" value="Add to a watchlist" name="add/remove" id="add/remove">
                            Add/remove from watchlist
                        </button>
                        <input type="hidden" name="auction_id" id="auction_id" value="{{ auction.id }}">
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container p-3">
        <p>Listed by: {{ auction.owner }}</p>
        {% if auction.category %}
            <p>Category: {{ auction.category }}</p>
        {% else %}
            <p>Category: no category listed</p>
        {% endif %}

        {% if comments %}
        <h4>Comments</h4>
        <ul class="list-group list-group-flush">
                {% for comment in comments %}
                <li class="list-group-item">{{ comment.user_id }}: {{ comment.comment }}</li>
                {% endfor %}
            {% endif %}
            {% if auction.owner.id != request.user.id  %}
                <form class="form-floating" action="{% url 'detail' auction.id %}" method="post">
                    {% csrf_token %}
                    <textarea class="form-control my-2" name="comment" id="comment" placeholder="Leave a comment"></textarea>
                    <input class="btn btn-secondary" type="submit" value="Submit comment">
                </form>
            {% endif %}

        </ul>
    </div>
        <div class="text-end my-2">
            <p class="text-end"><i>Created: {{ auction.date }}</i></p>
        </div>
{% endblock %}
