{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% if auctions_list %}
    <ul class="list-group list-group-flush">
        {% for auction in auctions_list %}
            {% if auction.active == True %}
                <li class="list-group-item list-group-item-action">
                    <a href="{% url 'detail' auction.id %}" class="list-group-item list-group-item-action list-group-item-primary">{{ auction.title }}</a>Starting bid = € {{ auction.start_bid }}
                    <div class="ms-2 me-auto">
                        <p><i>{{ auction.description }}</i></p>
                    </div>
                </li>
    {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}